/composer.lock
/var
/vendor
/app/config/parameters.yml
/build/
/phpunit.xml
/src/AppBundle
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
/web/images
/web/js
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assets
/web/bundles/
/.idea/vcs.xml
/.idea/workspace.xml
