/app/bootstrap.php.cache
/composer.lock
/var
/vendor
/app/config/parameters.yml
!/var/cache
/var/cache/*
/web/images
/web/js
!/var/logs
/var/logs/*
!/var/sessions
/var/sessions/*
!var/SymfonyRequirements.php
/web/app_dev.php
/web/assets
/web/bundles/
/.idea
/web/uploads/*
/bin
